templates/secrets/** filter=git-crypt diff=git-crypt
secret.yaml filter=git-crypt diff=git-crypt
deployments/staging/secret.yaml filter=git-crypt diff=git-crypt
deployments/prod/secret.yaml filter=git-crypt diff=git-crypt
